.chat-collection {
    overflow-y: scroll;
    height: 80%;
    display: block;
}

.room-collection {
    overflow-y: scroll;
    height: 80%;
    display: block;
}

.chat-panel{
    padding: 5px;
    height: 75%;
    margin-bottom:7.5px;
}

.fit-to-screen{
    height: 85% !important
}

.no-padding{
    padding: 0%
}


.no-margin-left{
    margin-left: 0
}

.strike{
    text-decoration: line-through;
}