absl-py==0.7.0
appnope==0.1.0
argh==0.26.2
asn1crypto==0.24.0
astor==0.7.1
audioread==2.1.6
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==1.5.0
bob==5.0.0
bob.extension==3.1.0
boost==0.1
bs4==0.0.1
CacheControl==0.12.5
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
colorama==0.4.1
comtypes==1.1.7
cryptography==2.6.1
cycler==0.10.0
decorator==4.0.10
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
facenet==1.0.3
firebase==3.0.0
firebase-admin==2.16.0
Flask==0.11.1
Flask-Cors==3.0.7
gast==0.2.2
gcloud==0.17.0
google-api-core==1.7.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.14.0
google-cloud-vision==0.35.2
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
grpcio==1.18.0
gunicorn==19.7.1
h5py==2.9.0
html5lib==0.9999999
http-ece==1.1.0
httplib2==0.12.1
ibmcloudenv==0.2.1
idna==2.8
imutils==0.5.2
ipython==7.4.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
joblib==0.13.2
jsonpath-rw==1.4.0
jws==0.1.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
kiwisolver==1.0.1
libmagic==1.0
librosa==0.6.3
livereload==2.6.0
llvmlite==0.28.0
Markdown==3.0.1
MarkupSafe==1.1.0
Mastodon.py==1.3.1
matplotlib==3.0.2
msgpack==0.6.1
networkx==2.2
numba==0.43.1
numpy==1.16.1
oauth2client==3.0.0
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
pandas==0.24.1
parso==0.3.4
pathtools==0.1.2
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.11.26
piwho==1.3.2
ply==3.11
pocketsphinx==0.1.15
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.5.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyAudio==0.2.11
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.4.3
Pygments==2.3.1
pyparsing==2.3.1
Pyrebase==3.0.27
python-dateutil==2.7.5
python-http-client==3.1.0
python-jwt==2.0.1
python-magic==0.4.13
python-magic-win64==0.4.13
python-speech-features==0.6
pytz==2018.9
pywin32==224
PyYAML==3.13
requests==2.11.1
requests-toolbelt==0.7.0
resampy==0.2.1
rsa==4.0
scikit-fuzzy==0.4.0
scikit-learn==0.19.2
scipy==1.2.0
sendgrid==5.6.0
server==0.0.0
six==1.12.0
sounddevice==0.3.13
soupsieve==1.7.3
SQLAlchemy==1.3.1
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.1
watchdog==0.8.3
watson-developer-cloud==2.8.0
Wave==0.0.2
wcwidth==0.1.7
websocket-client==0.48.0
Werkzeug==0.14.1
xlwings==0.15.2
